body {
    background: navy;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Abhaya Libre Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}
p{

    width: 117px;
    height: 120px;
    left: 100px;
    top: 125px;

    font-family: "Cursed Timer ULiL";
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;

    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
}
button{
    width: 155px;
    height: 45px;
    left: 82px;
    top: 271px;
    box-sizing: border-box;


    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}